<div id="infoList">
    关键字：<input id="titleInput" type="text" class="selectInput">
    <button ng-click="selectByTitle()" class="btn">查询</button>
    <ul class="toolbar1">
        <li class="click" ng-click="add()"><span><img
                src="../../images/t01.png"/></span>新建
        </li>
    </ul>
    <article class="infoArticle">
        <section class="infoSection" ng-repeat="inf in informations">
            <ul>
                <li><span>标题：</span>{{ inf.title }}</li>
                <li>
                    <span>摘要：</span>{{ inf.abstract }}
                </li>
                <li><span>URL：</span>{{ inf.url }}</li>
                <li><span>优先级：</span>{{ inf.priority }}</li>
                <li><span>操作：</span><a ng-click="delete()">删除</a><a ng-click="modify(id)">修改</a></li>
            </ul>
        </section>
    </article>
    <div class="tcdPageCode"></div><!--页码容器 -->
</div>
<!-- 修改信息模态框 -->
<div class="overlayer"></div>
<div class="tip" id="tipType">
    <div class="tiptop">
        <span>修改信息</span><a id="disModify"></a><!-- 这个a标签是模态框上的叉叉 -->
    </div>
    <!-- 具体内容 -->
    <div class="formbody">
        <form id="updateForm" ng-submit="updateInformation()">
            <ul class="forminfo">
                <li class="hidden"><label>标号</label><input type="text"
                                            ng-model="information.id" class="dfinput"/></li>
                <li><label>类型</label><input type="text" readOnly
                                            ng-model="information.type" class="dfinput"/></li>
                <li><label>标题</label><input type="text"
                                            ng-model="information.title" class="dfinput"/></li>

                <li><label>URL</label> <input ng-model="information.url"
                                              class="dfinput"></li>
                <li><label>优先级</label> <input ng-model="information.priority"
                                              class="dfinput"></li>
                <li><label>摘要</label><textarea type="text"
                                               ng-model="information.abstract" class="textarea"></textarea></li>
            </ul>
            <!-- 按钮 -->
            <div class="tipbtn">
                <input name="" type="submit" class="sure" value="确定" ng-click=""/>&nbsp; <input
                    id="cancelModify" type="button" class="cancel" value="取消"/>
            </div>
        </form>
    </div>
</div>
<!-- 修改信息模态框完 -->
<!-- 添加信息模态框 -->
<div class="tip" id="tipType1">
    <div class="tiptop">
        <span>添加信息</span><a id="disAdd"></a><!-- 这个a标签是模态框上的叉叉 -->
    </div>
    <!-- 具体内容 -->
    <div class="formbody">
        <form id="addForm" ng-submit="addInformation()">
            <ul class="forminfo">
                <li><label>类型</label>
                    <select type="text" ng-model="info.type" class="dfinput">
                        <option value="supplyInformation">供应信息</option>
                        <option value="buyInformation">求购信息</option>
                        <option value="businessInformation">赞助商家</option>
                    </select></li>
                <li><label>标题</label><input type="text"
                                            ng-model="info.title" class="dfinput"/></li>

                <li><label>URL</label> <input ng-model="info.url"
                                              class="dfinput"></li>
                <li><label>优先级</label> <input ng-model="info.priority"
                                              class="dfinput"></li>
                <li><label>摘要</label><textarea type="text"
                                               ng-model="info.abstract" class="textarea"></textarea></li>
            </ul>
            <!-- 按钮 -->
            <div class="tipbtn">
                <input name="" type="submit" class="sure" value="确定"/>&nbsp; <input
                    id="cancleAdd" type="button" class="cancel" value="取消"/>
            </div>
        </form>
    </div>
</div>
<!-- 添加信息模态框完 -->