.dfinput {
    width: 345px;
    height: 32px;
    line-height: 32px;
    border-top: solid 1px #a7b5bc;
    border-left: solid 1px #a7b5bc;
    border-right: solid 1px #ced9df;
    border-bottom: solid 1px #ced9df;
    /*background: url(../images/inputbg.gif) repeat-x;*/
    text-indent: 10px;
}

.short-input{
    width: 158px;
}

.forminfo{
    width: 1002px;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
}

.forminfo ul{
    margin-top: 32px;
}

.forminfo li{
    margin-bottom: 16px;
}

.forminfo li label {
    width: 86px;
    display: block;
    float: left;
}

.textinput {
    border-top: solid 1px #a7b5bc;
    border-left: solid 1px #a7b5bc;
    border-right: solid 1px #ced9df;
    border-bottom: solid 1px #ced9df;
    background: url(../images/inputbg.gif) repeat-x;
    padding: 10px;
    width: 504px;
    height: 135px;
    line-height: 20px;
    overflow: hidden;
}

.dfselect {
	width: 280px;
	height: 36px;
	margin-right: 12px;
	line-height: 32px;
	border-top: solid 1px #a7b5bc;
	border-left: solid 1px #a7b5bc;
	border-right: solid 1px #ced9df;
	border-bottom: solid 1px #ced9df;
	background: url(../images/inputbg.gif) repeat-x;
	text-indent: 4px;
}

.dfselect option {
	word-space: 2px;
	margin: 8px 12px;
}


.btn {
	width: 137px;
	height: 35px;
    margin-top: 24px;
	/*background: url(../images/btnbg.png) no-repeat;*/
    background-color: #DCDCDC;
	font-size: 14px;
	font-weight: bold;
    word-spacing: 1em;
	color: #636363;
	cursor: pointer;
}