* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

#container {
    height: 400px;
    margin: -200px auto auto auto;
    background-color: #1D4672;
    position: relative;
    top: 50%;
}

#logoDiv {
    position: absolute;
    top: 24px;
    left: 32px;
}

#logoDiv img {
    height: 64px;
}

#imgContainer {
    width: 500px;
    height: 400px;
    margin: 0 auto;
    position: relative;
}

img {
    height: 100%;
    display: block;
    margin: 0 auto;
}

a {
    display: block;
    font-family: "微软雅黑";
    margin: 12px;
    color: red;
    text-decoration: none;
    position: absolute;
}

#nationalPolicy {
    left: 50%;
    top: 8px;
    margin-left: -24px;
}

#breedImprovement {
    left: 50%;
    bottom: 24px;
    margin-left: -24px;
}

#materialsMarket {
    top: 50%;
    left: 16px;
    margin-top: -24px;
}

#laws {
    top: 50%;
    right: 12px;
    margin-top: -24px;
}

#information {
    top: 25%;
    left: 54px;
    margin-top: -24px;
}

#productionControl {
    top: 75%;
    left: 54px;
    margin-top: -24px;
}

#trends {
    top: 25%;
    right: 48px;
    margin-top: -24px;
}

#form {
    top: 75%;
    right: 48px;
    margin-top: -24px;
}

#produce {
    top: 110px;
    left: 50%;
    margin-left: -16px;
}

#plant {
    top: 246px;
    left: 50%;
    margin-left: -16px;
}

#siteInfor {
    position: absolute;
    bottom: 12px;
    left: 24px;
}

footer{
    width: 100%;
    position: absolute;
    bottom: 32px;

}

footer p{
    margin: 0 auto;
    width: 540px;
}